# Copie ce fichier en .env puis customise les clés secrètes

DATABASE_URL=postgresql+psycopg2://postgres:sabrina@db:5432/Osirion-AI
SECRET_KEY=change_this_secret_key
FERNET_KEY=change_this_to_a_valid_fernet_key
BACKEND_CORS_ORIGINS=["*"]
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
RATE_LIMIT_PER_MINUTE=5/minute
RATE_LIMIT_GENERAL=100/minute
